node_modules/
.env
*.log
epg.db
zaplinkweb.db
build/
archive/

# Environmental/Local Data
channels.conf
old.channels
logos.json
public/logos/
public/hls/
recordings/
public/images/
!public/images/zaplink.png
*.m3u
*.xml
*.json.bak
*.db-journal
*.db-shm
*.db-wal
scripts/*.conf
